<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="assets/brain.svg" alt="Brain icon" class="app-icon" />
    Muse EEG Explorer
    <span class="header-fill"></span>
    <span [hidden]="!(batteryLevel|async)" class="battery-level-indicator">
      <i class="fas fa-battery-full">Battery Level</i>{{batteryLevel|async|number:"1.0-0"}}%
    </span>
    <i class="fab fa-bluetooth" *ngIf="connected" (click)="disconnect()" title="Disconnect">Bluetooth Connected</i>
  </div>
</div>
<section>
  <div class="container" *ngIf="!connected">
    <button *ngIf="!connecting" mat-raised-button color="primary" (click)="connect()">
      <i class="fab fa-bluetooth"></i>
      Connect
    </button>
    <div *ngIf="!connecting" class="connection-options">
       <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox"[(ngModel)]="enableAux" aria-label="Checkbox for following text input">
            Enable Auxilary Electrode
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="connecting">
      Connecting...
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
  </div>
  <!-- <mat-card *ngIf="data">
    <mat-card-title>Live EEG Plot</mat-card-title>
    <mat-card-content>
      <app-time-series [data]="data" [enableAux]="enableAux"></app-time-series>
    </mat-card-content>
  </mat-card> -->
  <div class="container" *ngIf="data">
    <h2>Frequency Components</h2>
    <div>
      <app-frequency-bands [data]="data" [enableAux]="enableAux"></app-frequency-bands>
    </div>
  </div>
  <div class="container" *ngIf="data">
    <h2>Frequency Spectrum</h2>
    <div>
      <app-frequency-spectra [data]="data" [enableAux]="enableAux"></app-frequency-spectra>
    </div>
  </div>
  <!-- <mat-card *ngIf="connected">
    <mat-card-title>Head Position</mat-card-title>
    <mat-card-content>
      <app-head-view [xyz]="accelerometer"></app-head-view>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="data">
    <mat-card-title>Recording</mat-card-title>
    <mat-card-content>
      <app-recorder [data]="data"></app-recorder>
    </mat-card-content>
  </mat-card> -->
  <div class="container" *ngIf="connected">
    <app-headset-info [controlResponses]="controlResponses"></app-headset-info>
  </div>
</section>
