<h2>Headset Info</h2>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Name
    <span class="badge badge-primary badge-pill"><strong>{{headsetName|async}}</strong></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Firmware version:
    <span class="badge badge-primary badge-pill">{{firmwareVersion|async}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Hardware version:
    <span class="badge badge-primary badge-pill">{{hardwareVersion|async}}</span>
  </li>
</ul>
