  <div class="container erp">
   <div *ngIf="checkWarning()" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Important!</strong> {{getWarningMessage}}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="resetWarning()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center">
           <h3>Oddball Game</h3>
        </div>
        <canvas #oddBallCanvas width="600" height="400" id="gameCanvas"></canvas>
     </div>
     <div class="row justify-content-center mt-2" ng-if="playing == false">
          <button type="button" class="btn btn-secondary" (click)="animate()">Play</button>
     </div>
  </div>
