<div class="container frequency-spectra">
  <div class="row">
    <div class="col-8 mx-auto">
      <article class="frequency-spectra-bar">
      
      <div id="freq-spectra-cont">
        <h3>Frequency Spectrum</h3>
        <canvas id="freqChart"></canvas>
      </div>

      <div id="bci-div">
        
<!--   <div id="bci-bar-div">
            <h3>BCI Control Bar Freq8</h3>
            <canvas id="bciChart2"></canvas>
          </div> -->

        <div id="bci-bar-div">
            <h3>BCI Control Bar Freq8</h3>
            <canvas id="bciChart"></canvas>
          </div>

          <div id="bci-indicator-div">
            <h3>BCI Indicator Freq8</h3>
            <canvas id="bciBelowAvg"></canvas>
          </div>
      </div>
          
      </article>
    <div>
  </div>
</div>




