@import '../app.component.less';

@override

:host {
  display: flex;
  position: relative;
  font-family: Roboto, sans-serif;
}

.bci{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top:0rem;
  min-height: @minHeight;
  background-color: @componentColor;
}

.button-row-div{
  width: 20%;
  display: flex;
  flex-direction: row;
  margin-top:1rem;
  margin-bottom:0rem;
  min-height:20px;
}

.bci-row-div{
  width: 10%;
  display: flex;
  flex-direction: row;
  margin-top:0rem;
  margin-bottom:0rem;
  min-height: @minHeight/3;
}

.bci-ten-div{
  float: left;
  width:400px;
  height:250px;
  text-align: center;
  margin-top:1rem;
}

#freqChart{
  width: 400px;
  height: 300px;
  background-color: #f5f6f7;
}

.bci-game{
  margin-left: 50%;
  width:500px;
  height:200px;
  text-align: center;
  margin-top: 1rem;
  text-align: center;
  font-family: Comic Sans MS;
}


#gameArea{
 border: 1px solid green;
 width:  400px;
 height: 200px;
}

#bciChart{
  width: 400px;
  height: 200px;
  background-color: #f5f6f7;
}

.bci-one-div{
  margin-left: 50%;
  width:400px;
  height:200px;
  text-align: center;
  margin-top: 1rem;
}

#bciOneChart{
  width: 400px;
  height: 200px;
  background-color: #f5f6f7;

}

.txt{
  text-align: left;
  margin-top: 1rem;
}



