<div class="container frequency-spectra">
  <div class="row">
    <div class="col-8 mx-auto">
      <article class="frequency-spectra-bar">
      <div id="freq-spectra-cont">
        <h3>Frequency Spectrum</h3>
        <canvas id="freqChart"></canvas>
      </div>
      </article>
      <article class="frequency-spectra-bar">
      <div id="channel-freq-ave">
        <h3>TP9 Freq8 Average</h3>
        <canvas id="ChannelAve" width="400" height="400"></canvas>
      </div>
      </article>
    </div>
  </div>
</div>
