<div class="bodyContent">
  <div class="jumbotron jumbotron-fluid banner">
    <h1 class="display-5">EEG Data Tool</h1>
       <p class="lead">Observe and explore EEG Data</p>
    <hr class="my-4">

  <div class="container home">
    <div class="row">
      <p *ngIf="user">Logged in as: {{ user?.displayName }}</p>
    </div>
    <div class="row">
      <button class="btn btn-primary mr-2" *ngIf="!user" (click)="register()">Register</button>
      <button *ngIf="user"  (click)="logout()">Logout</button>
      <button class="btn btn-primary" *ngIf="!user" (click)="login()">Login</button>
    </div>
    
  </div>

<!-- 
<ng-template #login>
  <button class="button" (click)="auth.googleSignin()">Login with Google</button>
</ng-template> -->

    <p class="lead">
      <button type="button" class="btn btn-primary btn-lg" (click)="showConnectModal()">Connection</button>
    </p>
    <div *ngIf="connectedCopy">
        <span class="badge badge-pill badge-success">Connected to Muse</span>
    </div>
  </div>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/home">Sections</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" routerLink="/time-series" routerLinkActive="active">EEG Data</a>
          <a class="nav-item nav-link" routerLink="/frequency-bands" routerLinkActive="active">Frequency Bands</a>
          <a class="nav-item nav-link" routerLink="/frequency-spectra" routerLinkActive="active">Frequency Spectrum</a>
          <a class="nav-item nav-link" routerLink="/frequency-experiments" routerLinkActive="active">Frequency Experiments</a>
          <a class="nav-item nav-link" routerLink="/bci" routerLinkActive="active">BCI</a>
          <a class="nav-item nav-link" routerLink="/ecg" routerLinkActive="active">ECG</a>
          <a class="nav-item nav-link" routerLink="/erp" routerLinkActive="active">ERP</a>
        </div>
      </div>
    </nav>
     <router-outlet></router-outlet>

    <div class="container-fluid footerContent">
      <div class="row">
       <div class="col-3 mx-auto">
         <p><b>Krigolson Lab UVic @ Copyright 2020</b></p>
       </div>
      </div>
    </div>

</div>
<ng-container #vc></ng-container>


<ng-template #headerModal>
<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="connectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title col-12 col-sm-6 m-auto">Connection Settings</h5>
        <span [hidden]="!(batteryLevel|async)" class="battery-level-indicator">
            <i class="fas fa-battery-full">Battery Level</i>{{batteryLevel|async|number:"1.0-0"}}%
        </span>
        <i class="fab fa-bluetooth" *ngIf="connectedCopy"  title="Disconnect">Bluetooth Connected
         <span (click)="data.disconnect();closeConnectModal()" style="padding-left:5px;" aria-hidden="true">&times;</span>
        </i>
      </div>

      <div class="modal-body">
          <div class="row flex-auto">
              <button class="btn btn-warning connectBtn" *ngIf="!connectingCopy" (click)="data.connect()">Connect</button>
          </div>

        <div *ngIf="connectingCopy" style="text-align:center;">Connecting... <br/>
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeConnectModal()">Close</button>
      </div>

    </div>
  </div>
</div>
</ng-template>
